<div class="row">
  <div class="col-sm-12">
    <%= bootstrap_form_for(@sample) do |f| %>

      <% if @sample.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@sample.errors.count, "error") %>
            prohibited this sample from being saved:</h2>

          <ul>
            <% @sample.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.text_field :tag %>
      </div>

      <div class="field">
        <%= f.text_area :notes %>
      </div>

      <div class="field">
        <%= f.text_field :barcode %>
      </div>

      <div class="actions">
        <%= f.submit submit_button_text, class: "btn btn-primary" %>
        <button type="reset" class="btn btn-default">Reset the form</button>
      </div>
    <% end %>
  </div>
</div>
