<div class="card">
  <div class="card__title">
    <%= fa_icon 'flask' %> Sample <%= sample.project.tag %>-<%= sample.id %> details:
  </div>

  <ul>
    <li>Patient: <%= sample.patient.full_name %></li>
    <li>Institution: <%= sample.institution %></li>
    <li>Request date: <%= sample.request_date %></li>
    <li>Request category: <%= sample.request_category %></li>
    <li>Admission date: <%= sample.admission_date %></li>
    <li>Doctor name: <%= sample.doctor_full_name || "-" %></li>
    <li>Doctor email: <%= sample.doctor_email || "-" %></li>
    <li>Old ID: <%= sample.old_id || "-" %></li>
    <li>Barcode: <%= sample.barcode || "-"  %></li>
    <li>Notes: <%= sample.notes || "-" %></li>
  </ul>
  <p>
    <%= link_to 'Edit the sample details', edit_sample_path(sample),
      class: "btn btn-default", target: "_blank" %>
    <%= link_to 'Edit the patient details', edit_patient_path(sample.patient),
      class: "btn btn-default", target: "_blank" %>
    <%= link_to 'Destroy this sample', sample,
        class: 'btn btn-default',
        method: 'delete', data: { confirm: "Destroy sample #{sample.id} from patient #{sample.patient.full_name}?" } %>
  </p>

  <% unless sample.dna_extractions.count.zero? %>
    <% sample.dna_extractions.decorate.each do |dna_extraction| %>

      <%= render dna_extraction %>

    <% end %>
  <% end %>
</div>
