<p>Sample details:</p>
<ul>
  <li>Doctor name: <%= sample.doctor_full_name || "-" %></li>
  <li>Doctor email: <%= sample.doctor_email || "-" %></li>
  <li>Old ID: <%= sample.old_id || "-" %></li>
  <li>Barcode: <%= sample.barcode || "-"  %></li>
  <li>Notes: <%= sample.notes || "-" %></li>
</ul>
<p>
  <%= link_to 'Edit the sample details', edit_sample_path(sample),
    class: "btn btn-default", target: "_blank" %>
  <%= link_to 'Edit the patient details', edit_patient_path(sample.patient),
    class: "btn btn-default", target: "_blank" %>
</p>

<% unless sample.dna_samples.count.zero? %>
  <p>
    DNA extractions from this sample:

    <% sample.dna_samples.decorate.each do |dna_sample| %>
      <div class="dna-details">
        <p class="title">
          <%= link_to edit_dna_sample_path(dna_sample) do %>
            <%= fa_icon "flask" %>
          <% end %>
          <%= dna_sample.description %>
        </p>

        <% unless dna_sample.nanodrop_quantifications.count.zero? %>
          <table class="table table-bordered table-condensed table-striped quantification">
            <% dna_sample.nanodrop_quantifications.decorate.each do |nanodrop_quantification| %>
              <%= render nanodrop_quantification %>
            <% end %>
          </table>
        <% end %>

        <% unless dna_sample.qubit_quantifications.count.zero? %>
          <table class="table table-bordered table-condensed table-striped quantification">
            <% dna_sample.qubit_quantifications.decorate.each do |qubit_quantification| %>
              <%= render qubit_quantification %>
            <% end %>
          </table>
        <% end %>

      </div><!-- .dna-sample-details -->
    <% end %>
  </p>

<% end %>

