<h2>
  <%= fa_icon 'flask' %>
  Details from Sample <%= @sample.tag || @sample.old_id %>
</h2>

<p id="notice"><%= notice %></p>

<p>
  <strong>Tag:</strong>
  <%= @sample.tag %>
</p>

<p>
  <strong>Old:</strong>
  <%= @sample.old_id %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @sample.notes %>
</p>

<h2>
  <%= fa_icon 'id-card-o' %>
  Study <%= @sample.study.tag %>
</h2>

<p>
  <strong>Project:</strong>
  <span class="project-tag <%= @sample.project.tag %>">
    <%= @sample.project.tag %>
  </span>
</p>

<p>
  <strong>Patient:</strong>
  <%= @sample.patient.full_name %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @sample.institution %>
</p>

<p>
  <strong>Doctor full name:</strong>
  <%= @sample.doctor_full_name %>
</p>

<p>
  <strong>Doctor email:</strong>
  <%= @sample.doctor_email %>
</p>

<p>
  <strong>Request date:</strong>
  <%= @sample.request_date %>
</p>

<p>
  <strong>Admission date:</strong>
  <%= @sample.admission_date %>
</p>

<p>
  <strong>Request category:</strong>
  <span class="tag">
    <%= @sample.request_category %>
  </span>
</p>

<%= link_to 'Edit', edit_sample_path(@sample) %> |
<%= link_to 'Back', samples_path %>
