<%= bootstrap_form_for(@sequencing) do |f| %>
  <% if @sequencing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sequencing.errors.count, "error") %> prohibited this sequencing from being saved:</h2>

      <ul>
      <% @sequencing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= render partial: 'shared/selectable_dnas',
        locals: { owner_sym: :sequencing,
                  owned_sym_ids: :library_dna_ids,
                  dna_groups: @library_dnas } %>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="field">
        <%= f.text_field :pal, label: 'PAL' %>
      </div>
      <div class="field">
        <%= f.text_field :dal, label: 'DAL' %>
      </div>
      <div class="field">
        <%= f.date_select :pre_seq_date, label: 'Pre-sequencing date', include_blank: true, default: nil %>
      </div>
      <div class="field">
        <%= f.text_area :pre_seq_notes, label: 'Pre-sequencing notes' %>
      </div>
      <div class="field">
        <%= f.text_field :investigator_name %>
      </div>
      <div class="field">
        <%= f.text_field :rcb, label: 'RCB' %>
      </div>
      <div class="field">
        <%= f.text_field :sample_prep_kit %>
      </div>
    </div><!-- .com-sm-6 -->

    <div class="col-sm-6">
      <div class="field">
        <%= f.form_group :index_reads, label: { text: 'Index reads' } do %>
          <br>
          <%= f.radio_button :index_reads, 0, label: '0', checked: true, inline: true %>
          <%= f.radio_button :index_reads, 1, label: '1', inline: true %>
          <%= f.radio_button :index_reads, 2, label: '2', inline: true %>
        <% end %>
      </div>
      <div class="field">
        <%= f.text_field :read_type %>
      </div>
      <div class="field">
        <%= f.number_field :cycles_reads_1 %>
      </div>
      <div class="field">
        <%= f.number_field :cycles_reads_2 %>
      </div>
      <div class="field">
        <%= f.date_select :run_date, {include_blank: true, default: nil} %>
      </div>
      <div class="field">
        <%= f.text_area :notes %>
      </div>
    </div><!-- .com-sm-6 -->
  </div><!-- .row -->

  <div class="actions">
    <%= f.submit submit_button_text, class: "btn btn-primary" %>
    <button type="reset" class="btn btn-default">Reset the form</button>
  </div>
<% end %>
