<%= bootstrap_form_for(@sequencing) do |f| %>
  <% if @sequencing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sequencing.errors.count, "error") %> prohibited this sequencing from being saved:</h2>

      <ul>
      <% @sequencing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= render partial: 'dna_extractions/selectable_dnas',
      locals: { object_sym: :sequencing,
                dna_extractions: @dna_extractions } %>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="field">
        <%= f.text_field :pal %>
      </div>
      <div class="field">
        <%= f.text_field :dal %>
      </div>
      <div class="field">
        <%= f.date_select :pre_seq_date %>
      </div>
      <div class="field">
        <%= f.text_area :pre_seq_notes %>
      </div>
      <div class="field">
        <%= f.text_field :investigator_name %>
      </div>
      <div class="field">
        <%= f.text_field :rcb %>
      </div>
      <div class="field">
        <%= f.text_field :sample_prep_kit %>
      </div>
    </div><!-- .com-sm-6 -->

    <div class="col-sm-6">
      <div class="field">
        <%= f.number_field :index_reads %>
      </div>
      <div class="field">
        <%= f.text_field :read_type %>
      </div>
      <div class="field">
        <%= f.number_field :cycles_reads_1 %>
      </div>
      <div class="field">
        <%= f.number_field :cycles_reads_2 %>
      </div>
      <div class="field">
        <%= f.date_select :run_date %>
      </div>
      <div class="field">
        <%= f.text_area :notes %>
      </div>
    </div><!-- .com-sm-6 -->
  </div><!-- .row -->

  <div class="actions">
    <%= f.submit submit_button_text, class: "btn btn-primary" %>
    <button type="reset" class="btn btn-default">Reset the form</button>
  </div>
<% end %>
