<%= bootstrap_form_for(@library) do |f| %>
  <% if @library.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@library.errors.count, "error") %> prohibited this library from being saved:</h2>

      <ul>
      <% @library.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= render partial: 'shared/selectable_dnas',
      locals: { owner_sym: :library,
                owned_sym_ids: :dna_extraction_ids,
                dna_groups: @dna_extractions } %>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="field">
        <%= f.text_field :laboratory %>
      </div>
      <div class="field">
        <%= f.text_area :notes %>
      </div>
      <div class="field">
        <%= f.date_select :pre_pcr_date, label: 'Pre PCR date', include_blank: true, default: nil %>
      </div>
      <div class="field">
        <%= f.date_select :pcr_date, include_blank: true, default: nil %>
      </div>
      <div class="field">
        <%= f.date_select :post_pcr_date, label: 'Post PCR date', include_blank: true, default: nil %>
      </div>
    </div><!-- .col-sm-6 -->

    <div class="col-sm-6">
      <div class="field">
        <%= f.text_field :hyp, label: 'HYP' %>
      </div>
      <div class="field">
        <%= f.text_field :fpu, label: 'FPU' %>
      </div>
      <div class="field">
        <%= f.text_field :iap, label: 'IAP' %>
      </div>
      <div class="field">
        <%= f.text_field :clp, label: 'CLP' %>
      </div>
      <div class="field">
        <%= f.text_field :lnp, label: 'LNP' %>
      </div>
      <div class="field">
        <%= f.text_field :sgp, label: 'SGP' %>
      </div>
    </div><!-- .col-sm-6 -->
  </div><!-- .row -->


  <div class="actions">
    <%= f.submit submit_button_text, class: "btn btn-primary" %>
    <button type="reset" class="btn btn-default">Reset the form</button>
  </div>
<% end %>
