<%= bootstrap_form_for(@library) do |f| %>
  <% if @library.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@library.errors.count, "error") %> prohibited this library from being saved:</h2>

      <ul>
      <% @library.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= render partial: 'dna_extractions/selectable_dnas',
      locals: { object_sym: :libraries,
                dna_extractions: @dna_extractions } %>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="field">
        <%= f.text_field :laboratory %>
      </div>
      <div class="field">
        <%= f.text_area :notes %>
      </div>
      <div class="field">
        <%= f.date_select :pre_pcr_date %>
      </div>
      <div class="field">
        <%= f.date_select :pcr_date %>
      </div>
      <div class="field">
        <%= f.date_select :post_pcr_date %>
      </div>
    </div><!-- .col-sm-6 -->

    <div class="col-sm-6">
      <div class="field">
        <%= f.text_field :hyp %>
      </div>
      <div class="field">
        <%= f.text_field :fpu %>
      </div>
      <div class="field">
        <%= f.text_field :iap %>
      </div>
      <div class="field">
        <%= f.text_field :clp %>
      </div>
      <div class="field">
        <%= f.text_field :lnp %>
      </div>
      <div class="field">
        <%= f.text_field :sgp %>
      </div>
    </div><!-- .col-sm-6 -->
  </div><!-- .row -->


  <div class="actions">
    <%= f.submit submit_button_text, class: "btn btn-primary" %>
    <button type="reset" class="btn btn-default">Reset the form</button>
  </div>
<% end %>
