<div class="header">
  <div class="title">
    <h1>
      <%= fa_icon 'braille' %>
      Libraries
    </h1>
  </div>
  <div class="actions">
    <%= link_to 'Build a new library', new_library_path, class: 'btn btn-default' %>
  </div>
</div>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Project</th>
      <th>ID</th>
      <th>N samples</th>
      <th>Used in<br>sequencing(s)</th>
      <th>Laboratory</th>
    </tr>
  </thead>

  <tbody>
    <% @libraries.decorate.each do |library| %>
        <!-- Main row -->
        <tr class="display-row collapsed" data-toggle="collapse" data-target="#detail-<%= library.id %>" class="accordion-toggle">
          <td class="project-tag">
            <%= safe_join(library.projects.decorate.map(&:tag).uniq, ', ') %>
          </td>
          <td><%= library.id %></td>
          <td><%= library.dna_samples.count %></td>
          <td><%= library.sequencings.map(&:id).uniq.join(', ') %></td>
          <td><%= library.laboratory %></td>
        </tr>

        <!-- Details box -->
        <tr class="hidden-row">
          <td colspan="5">
            <div class="accordion-body collapse" id="detail-<%= library.id %>">
              <div class="padding">

                <%= render library %>

              </div><!-- .padding -->
            </div><!-- .accordion-body -->
          </td>
        </tr>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Library', new_library_path %>
