<p id="notice"><%= notice %></p>

<h1>Listing Libraries</h1>

<table>
  <thead>
    <tr>
      <th>Laboratory</th>
      <th>Notes</th>
      <th>Hyp</th>
      <th>Fpu</th>
      <th>Pre pcr date</th>
      <th>Pcr date</th>
      <th>Iap</th>
      <th>Clp</th>
      <th>Lnp</th>
      <th>Sgp</th>
      <th>Post pcr date</th>
      <th>Old</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @libraries.each do |library| %>
      <tr>
        <td><%= library.laboratory %></td>
        <td><%= library.notes %></td>
        <td><%= library.hyp %></td>
        <td><%= library.fpu %></td>
        <td><%= library.pre_pcr_date %></td>
        <td><%= library.pcr_date %></td>
        <td><%= library.iap %></td>
        <td><%= library.clp %></td>
        <td><%= library.lnp %></td>
        <td><%= library.sgp %></td>
        <td><%= library.post_pcr_date %></td>
        <td><%= library.old_id %></td>
        <td><%= link_to 'Show', library %></td>
        <td><%= link_to 'Edit', edit_library_path(library) %></td>
        <td><%= link_to 'Destroy', library, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Library', new_library_path %>
