<tr>
  <th>
    <%= link_to edit_qubit_quantification_path(qubit_quantification), title: "Edit this table" do %>
      <span class="grey small">edit</span>
    <% end %>
  </th>
  <tr>
    <th>Technology</td>
    <td>Qubit</td>
  </tr>
  <tr>
    <th>[Assay]</th>
    <td><%= qubit_quantification.assay_concentration %></td>
  </tr>
  <tr>
    <th>[Stock]</th>
    <td><%= qubit_quantification.stock_concentration %></td>
  </tr>
  <tr>
    <th>Assay Type</th>
    <td><%= qubit_quantification.assay_type %></td>
  </tr>
  <tr>
    <th>Sample vol.</th>
    <td><%= qubit_quantification.sample_vol %></td>
  </tr>
  <tr>
    <th>Dilution Factor</th>
    <td><%= qubit_quantification.dilution_factor %></td>
  </tr>
  <!-- <th>STD1</th> -->
  <!-- <th>STD2</th> -->
  <!-- <th>STD3</th> -->
  <!-- <th>Excit.</th> -->
  <!-- <th>Green RFU</th> -->
  <!-- <th>Far red RFU</th> -->
  <tr>
    <th>Date</th>
    <td><%= qubit_quantification.created_at %></td>
  </tr>
  <!-- <td><%= qubit_quantification.std1_rfu %></td> -->
  <!-- <td><%= qubit_quantification.std2_rfu %></td> -->
  <!-- <td><%= qubit_quantification.std3_rfu %></td> -->
  <!-- <td><%= qubit_quantification.excitation %></td> -->
  <!-- <td><%= qubit_quantification.green_rfu %></td> -->
  <!-- <td><%= qubit_quantification.far_red_rfu %></td> -->
</tr>

