<p id="notice"><%= notice %></p>

<h1>Listing Qubit Quantifications</h1>

<table>
  <thead>
    <tr>
      <th>Assay concentration</th>
      <th>Stock concentration</th>
      <th>Assay type</th>
      <th>Sample vol</th>
      <th>Dilution factor</th>
      <th>Std1 rfu</th>
      <th>Std2 rfu</th>
      <th>Std3 rfu</th>
      <th>Excitation</th>
      <th>Green rfu</th>
      <th>Far red rfu</th>
      <th>Dna sample</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @qubit_quantifications.each do |qubit_quantification| %>
      <tr>
        <td><%= qubit_quantification.assay_concentration %></td>
        <td><%= qubit_quantification.stock_concentration %></td>
        <td><%= qubit_quantification.assay_type %></td>
        <td><%= qubit_quantification.sample_vol %></td>
        <td><%= qubit_quantification.dilution_factor %></td>
        <td><%= qubit_quantification.std1_rfu %></td>
        <td><%= qubit_quantification.std2_rfu %></td>
        <td><%= qubit_quantification.std3_rfu %></td>
        <td><%= qubit_quantification.excitation %></td>
        <td><%= qubit_quantification.green_rfu %></td>
        <td><%= qubit_quantification.far_red_rfu %></td>
        <td><%= qubit_quantification.dna_sample %></td>
        <td><%= link_to 'Show', qubit_quantification %></td>
        <td><%= link_to 'Edit', edit_qubit_quantification_path(qubit_quantification) %></td>
        <td><%= link_to 'Destroy', qubit_quantification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Qubit quantification', new_qubit_quantification_path %>
