<div class="header">
  <div class="title">
    <h1>
      <%= fa_icon 'id-card-o' %>
      Studies
    </h1>
  </div>

  <div class="actions">
    <%= link_to new_study_path, class: 'btn btn-primary' do %>
      <%= fa_icon 'archive', text: 'A new study has arrived' %>
    <% end %>
  </div>
</div>

<p id="notice"><%= notice %></p>

<% @studies_by_year_and_project.each do |year, year_studies| %>
    <div class="js-year-<%= year %>">
        <h2><%= year %></h2>

        <% year_studies.each do |project, project_studies| %>
            <div class="js-project-<%= project.tag %>">
                <h3><%= project.full_name or project.tag %></h3>

                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                        <th>Tag</th>
                        <th>Patient</th>
                        <th>Doctor</th>
                        <th>Institution</th>
                        <th>Request date</th>
                        <th>Admission date</th>
                        <th>Request<br>category</th>
                        <th colspan="3"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <% project_studies.each do |study| %>
                            <tr>
                                <td class="tag--bold" title="ID: <%= study.id %>">
                                    <%= study.tag %>
                                </td>
                                <td><%= study.patient.full_name %></td>
                                <td><%= study.doctor_full_name %></td>
                                <td><%= study.institution %></td>
                                <td title="<%= study.request_date_ago %>">
                                    <%= study.request_date %>
                                </td>
                                <td title="<%= study.admission_date_ago %>">
                                    <%= study.admission_date %>
                                </td>
                                <td class="tag">
                                    <%= study.request_category.downcase[0..2] %>
                                </td>
                                <td><%= link_to 'Show', study %></td>
                                <td><%= link_to 'Edit', edit_study_path(study) %></td>
                                <td><%= link_to 'Destroy', study, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        <% end %>
    </div>
<% end %>

