<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @project.full_name %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @project.tag %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Old:</strong>
  <%= @project.old_id %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
