<%= form_for(@nanodrop_quantification) do |f| %>
  <% if @nanodrop_quantification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nanodrop_quantification.errors.count, "error") %> prohibited this nanodrop_quantification from being saved:</h2>

      <ul>
      <% @nanodrop_quantification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :concentration %><br>
    <%= f.text_field :concentration %>
  </div>
  <div class="field">
    <%= f.label :ratio_260_280 %><br>
    <%= f.text_field :ratio_260_280 %>
  </div>
  <div class="field">
    <%= f.label :ratio_260_230 %><br>
    <%= f.text_field :ratio_260_230 %>
  </div>
  <div class="field">
    <%= f.label :absorbance_280 %><br>
    <%= f.text_field :absorbance_280 %>
  </div>
  <div class="field">
    <%= f.label :absorbance_260 %><br>
    <%= f.text_field :absorbance_260 %>
  </div>
  <div class="field">
    <%= f.label :factor %><br>
    <%= f.text_field :factor %>
  </div>
  <div class="field">
    <%= f.label :dna_sample_id %><br>
    <%= f.text_field :dna_sample_id %>
  </div>
  <div class="field">
    <%= f.label :sample_type %><br>
    <%= f.text_field :sample_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
