<tr>
  <th>
    <%= link_to edit_nanodrop_quantification_path(nanodrop_quantification),
        title: "Edit this table" do %>
      <span class="grey small">edit</span>
    <% end %>
  </th>
  <tr>
    <td>Nanodrop</td>
    <th>Technology</th>
  </tr>
  <tr>
    <td><%= nanodrop_quantification.concentration %></td>
    <th>Concentration</th>
  </tr>
  <tr>
    <%= nanodrop_quantification.ratio_260_280_td %>
    <th>260/280</th>
  </tr>
  <tr>
    <td><%= nanodrop_quantification.ratio_260_230 %></td>
    <th>260/230</th>
  </tr>
  <tr>
    <td><%= nanodrop_quantification.absorbance_280 %></td>
    <th>Abs. 280</th>
  </tr>
  <tr>
    <td><%= nanodrop_quantification.absorbance_260 %></td>
    <th>Abs. 260</th>
  </tr>
  <tr>
    <td><%= nanodrop_quantification.factor %></td>
    <th>Factor</th>
  </tr>
  <tr>
    <td><%= nanodrop_quantification.sample_type %></td>
    <th>Type</th>
  </tr>
  <tr>
    <td><%= nanodrop_quantification.created_at %></td>
    <th>Date</th>
  </tr>
</tr>

