<div class="header">
  <div class="title">
    <h1>
      Dna Samples
    </h1>
  </div>
  <div class="actions">
    <%= link_to 'Create a new DNA Sample', new_dna_sample_path,
      class: "btn btn-default" %>
  </div>
</div>


<table class='table table-bordered table-striped table-condensed'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Patient</th>
      <th>Extraction date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dna_samples.each do |dna_sample| %>
      <tr>
        <td><%= dna_sample.id %></td>
        <td><%= dna_sample.patient.full_name %></td>
        <td><%= dna_sample.extraction_date %></td>
        <td><%= link_to 'Show', dna_sample %></td>
        <td><%= link_to 'Edit', edit_dna_sample_path(dna_sample) %></td>
        <td><%= link_to 'Destroy', dna_sample, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
