<div class="card card-dna">
  <div class="card__title horizontal-flex">
    <div class="left flex-grow">
      <p>
        <%= fa_icon 'tint' %>
        <%= dna_extraction.description %>
      </p>
      <ul>
        <li>Is part of Library: <%= dna_extraction.libraries.map(&:id).join(', ') %></li>
        <li>Was sequenced in Sequencing: <%= dna_extraction.sequencings.map(&:id).sort.join(', ') %></li>
        <li>
          Was sequenced as: <strong><%= dna_extraction.sequencing_dnas.map(&:external_id).join(', ') %></strong>
        </li>
      </ul>
    </div>
  </div>

  <div class="horizontal-flex">
    <div class="flex-child">

      <!-- Quantification tables -->
      <% unless dna_extraction.nanodrop_quantifications.count.zero? %>
        <table class="table table-bordered table-condensed table-striped quantification">
          <% dna_extraction.nanodrop_quantifications.decorate.each do |nanodrop_quantification| %>
            <%= render nanodrop_quantification %>
          <% end %>
        </table>
      <% end %>
    </div>

    <div class="flex-child">
      <% unless dna_extraction.qubit_quantifications.count.zero? %>
        <table class="table table-bordered table-condensed table-striped quantification">
          <% dna_extraction.qubit_quantifications.decorate.each do |qubit_quantification| %>
            <%= render qubit_quantification %>
          <% end %>
        </table>
      <% end %>
    </div>


    <!-- Gel picture preview -->
    <% if dna_extraction.gel_picture.file %>
      <div class="flex-child">
        <a data-toggle="modal" data-target="#gel-modal-<%= dna_extraction.id %>">
            <%= image_tag dna_extraction.gel_picture.url, class: 'preview' %>
        </a>
      </div>

      <div class="flex-child">
        <p class="img-comment">
          <%= extract_img_comment(dna_extraction.gel_picture.path) %>
        </p>
      </div>

      <!-- Large modal with the Gel Picture associated to this DNA Extraction -->
      <div id="gel-modal-<%= dna_extraction.id %>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gelPictureModal">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Gel Electrophoresis run with DNA #<%= dna_extraction.id %></h4>
            </div>
            <div class="modal-body">
              <p class="img-comment">
                <%= extract_img_comment(dna_extraction.gel_picture.path) %>
              </p>
              <%= image_tag(dna_extraction.gel_picture.url) %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>
  

</div><!-- .dna-extraction-details -->

