<div class="card card-dna">
  <div class="card__title">
    <p>
      <%= fa_icon 'tint' %>
      <%= dna_extraction.description %>
    </p>
    <ul>
      <li>Is part of Library: <%= dna_extraction.libraries_list %></li>
      <li>Was sequenced in Sequencing: <%= dna_extraction.sequencings_list %></li>
      <li>Was sequenced as: <%= dna_extraction.external_ids_list %></li>
      <% if dna_extraction.reports? %>
        <li>Has reports: <%= safe_join(dna_extraction.report_links, ', ') %></li>
      <% end %>
    </ul>
  </div>

  <div class="horizontal-flex">
    <div class="flex-child">

      <!-- Quantification tables -->
      <% unless dna_extraction.nanodrop_quantifications.count.zero? %>
        <table class="table table-bordered table-condensed table-striped quantification">
          <% dna_extraction.nanodrop_quantifications.decorate.each do |nanodrop_quantification| %>
            <%= render nanodrop_quantification %>
          <% end %>
        </table>
      <% end %>
    </div>

    <div class="flex-child">
      <% unless dna_extraction.qubit_quantifications.count.zero? %>
        <table class="table table-bordered table-condensed table-striped quantification">
          <% dna_extraction.qubit_quantifications.decorate.each do |qubit_quantification| %>
            <%= render qubit_quantification %>
          <% end %>
        </table>
      <% end %>
    </div>


    <!-- Gel picture preview -->
    <% if dna_extraction.gel_picture.file %>
      <%= render partial: 'dna_extractions/gel_picture_thumbnail', locals: { url: dna_extraction.gel_picture.url, text: dna_extraction.description, dna_id: dna_extraction.id } %>
    <% end %>

  </div>
  

</div><!-- .dna-extraction-details -->

