<div class="selectable-dnas">

  <div class="group with-scroll">
    <h2 class="title">Used DNAs</h2>
    <div class="checkbox">
      <%= collection_check_boxes(object_sym, :dna_extraction_ids, dna_extractions[:used], :id, :description) do |b| %>
        <%= b.label do %>
          <%= b.check_box + b.text %>
        <% end %>
        <br>
      <% end %>
    </div>
  </div>

  <div class="group">
    <h2 class="title">Unused DNAs</h2>
    <div class="checkbox">
      <%= collection_check_boxes(object_sym, :dna_extraction_ids, dna_extractions[:unused], :id, :description) do |b| %>
        <%= b.label do %>
          <%= b.check_box + b.text %>
        <% end %>
        <br>
      <% end %>
    </div>
  </div>

  <% unless dna_extractions[:already_selected].count.zero? %>
    <div class="group">
      <h2 class="title">Already selected DNAs</h2>
      <div class="checkbox">
        <%= collection_check_boxes(object_sym, :dna_extraction_ids, dna_extractions[:already_selected], :id, :description) do |b| %>
          <%= b.label do %>
            <%= b.check_box(checked: true) + b.text %>
          <% end %>
          <br>
        <% end %>
      </div>
    </div>
  <% end %>

</div><!-- .selectable-dnas -->

