<% unless defined?(omit_header) && omit_header %>
  <div class="header">
    <div class="title">
      <h1>
        <%= fa_icon 'tint' %>
        DNA Extractions
      </h1>
    </div>

    <div class="actions">
      <%= link_to dna_extractions_select_quantification_files_path, class: 'btn btn-primary' do %>
        <%= fa_icon 'balance-scale' %> Upload quantification files
      <% end %>
      <%= link_to dna_extractions_select_gel_picture_path, class: 'btn btn-primary' do %>
        <%= fa_icon 'barcode' %> Upload gel picture
      <% end %>
    </div>
  </div>
<% end %>

<table class='table table-striped table-condensed'>
  <thead>
    <tr>
      <th>DNA Tag</th>
      <th>Patient name</th>
      <th>In libraries</th>
      <th>In sequencings</th>
      <th>Extraction date</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @dna_extractions.each do |dna_extraction| %>

      <tr class="display-row collapsed" data-toggle="collapse" data-target="#dna-detail-<%= dna_extraction.id %><%= "-#{owner_id}" if defined? owner_id %>" class="accordion-toggle">
        <td><%= dna_extraction.tag %></td>
        <td>
          <%= dna_extraction.patient.try(:full_name) || 'No patient associated with this DNA sample?' %>
        </td>
        <td><%= dna_extraction.libraries_list %></td>
        <td><%= dna_extraction.sequencings_list %></td>
        <td><%= dna_extraction.formated_date || dna_extraction.created_at %></td>
        <td><%= link_to 'Edit', edit_dna_extraction_path(dna_extraction) %></td>
        <td><%= link_to 'Destroy', dna_extraction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

      <tr class="hidden-row">
        <td colspan="8">
          <div class="accordion-body collapse" id="dna-detail-<%= dna_extraction.id %><%= "-#{owner_id}" if defined? owner_id %>">

            <%= render dna_extraction %>

          </div><!-- accordion-body -->
        </td>
      </tr>

    <% end %>
  </tbody>
</table>

<hr>

<div class="header">
  <div class="title">
    <h1>
      <%= fa_icon 'check-square-o' %>
      Control DNAs
    </h1>
  </div>

  <div class="actions">
    <%= link_to 'Create a control DNA', new_dna_extraction_path,
        class: "btn btn-primary" %>
  </div>
</div>

<table class='table table-striped table-condensed'>
  <thead>
    <tr>
      <th>DNA Tag</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @control_dnas.each do |control_dna| %>

      <tr class="display-row collapsed" data-toggle="collapse" data-target="#dna-detail-<%= control_dna.id %><%= "-#{owner_id}" if defined? owner_id %>" class="accordion-toggle">
        <td><%= control_dna.tag %></td>
        <td><%= link_to 'Edit', edit_dna_extraction_path(control_dna) %></td>
        <td><%= link_to 'Destroy', control_dna, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

      <tr class="hidden-row">
        <td colspan="3">
          <div class="accordion-body collapse" id="dna-detail-<%= control_dna.id %><%= "-#{owner_id}" if defined? owner_id %>">

            <%= render control_dna %>

          </div><!-- accordion-body -->
        </td>
      </tr>

    <% end %>
  </tbody>
</table>
