<% unless defined?(omit_header) && omit_header %>
  <div class="header">
    <div class="title">
      <h1>
        <%= fa_icon 'tint' %>
        DNA Extractions
      </h1>
    </div>
    <div class="actions">
      <%= link_to 'Manually create a new DNA Extraction record', new_dna_extraction_path,
        class: "btn btn-default" %>
    </div>
  </div>
<% end %>

<table class='table table-striped table-condensed'>
  <thead>
    <tr>
      <th>DNA Tag</th>
      <th>Patient name</th>
      <th>Extraction date</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @dna_extractions.each do |dna_extraction| %>

      <tr class="display-row collapsed" data-toggle="collapse" data-target="#dna-detail-<%= dna_extraction.id %><%= "-#{owner_id}" if defined? owner_id %>" class="accordion-toggle">
        <td><%= dna_extraction.tag %></td>
        <td>
          <%= dna_extraction.patient.try(:full_name) || 'No patient associated with this DNA sample?' %></td>
        <td><%= dna_extraction.date || dna_extraction.created_at %></td>
        <td><%= link_to 'Edit', edit_dna_extraction_path(dna_extraction) %></td>
        <td><%= link_to 'Destroy', dna_extraction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

      <tr class="hidden-row">
        <td colspan="8">
          <div class="accordion-body collapse" id="dna-detail-<%= dna_extraction.id %><%= "-#{owner_id}" if defined? owner_id %>">

            <%= render dna_extraction %>

          </div><!-- accordion-body -->
        </td>
      </tr>

    <% end %>
  </tbody>
</table>
