<%= render file: 'dna_extractions/index' %>

<hr>

<div class="header">
  <div class="title">
    <h1>
      <%= fa_icon 'balance-scale' %>
      Load quantification data from files
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="alert alert-info">
      Please refer to the IDs in <%= link_to 'samples', samples_path, target: '_blank' %> for the "Sample ID" field of the quantification files.
    </div>

    <%= form_tag("/dna_extractions/upload_quantification_files", action: :upload, multipart: true) do |f| %>
      <div class="field">
        <label class="control-label" for="nanodrop_file">
          Load Nanodrop quantification file (.tsv)
        </label>
        <%= file_field_tag :nanodrop_file, accept: 'text/tab-separated-values' %>
      </div>

      <div class="field">
        <label class="control-label" for="qubit_file">
          Load Qubit quantification file (.csv)
        </label>
        <%= file_field_tag :qubit_file, accept: 'text/csv' %>
      </div>

      <button type="submit" class="btn btn-primary">
        Submit the chosen files
      </button>

      <button type="reset" class="btn btn-default">
        Reset the chosen files
      </button>
    <% end %>
  </div>
</div>

<hr>

<div class="header">
  <div class="title">
    <h1>
      <%= fa_icon 'barcode' %>
      Upload a gel electrophoresis picture
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= form_tag('/dna_extractions/upload_gel_picture', action: :upload, multipart: true) do |f| %>
      <div class="field">
        <label class="control-label">Gel picture (.jpg, .jpeg, .png)</label>
        <%= file_field_tag 'gel_picture[image]' %>
      </div>

      <div class="field">
        <label class="control-label">DNA extractions shown in the picture</label>
        <div class="selectable-dnas">

          <div class="group with-scroll">
            <h2 class="title">DNAs with pic</h2>
            <div class="checkbox">
              <% @dna_extractions_by_pic[:have_gel_picture].each do |dna_extraction| %>
                <label for="gel_picture_associated_dnas_<%= dna_extraction.id %>">
                  <%= check_box_tag("gel_picture[associated_dnas][#{dna_extraction.id}]", dna_extraction.id) %>
                  <%= dna_extraction.description %>
                </label>
                <br>
              <% end %>
            </div>
          </div>

          <div class="group with-scroll">
            <h2 class="title">DNAs without pic</h2>
            <div class="checkbox">
            <% @dna_extractions_by_pic[:dont_have_gel_picture].each do |dna_extraction| %>
              <label for="gel_picture_associated_dnas_<%= dna_extraction.id %>">
                <%= check_box_tag("gel_picture[associated_dnas][#{dna_extraction.id}]", dna_extraction.id) %>
                <%= dna_extraction.description %>
              </label>
              <br>
            <% end %>
            </div>
          </div>

        </div><!-- .selectable-dnas -->
      </div>

      <button type="submit" class="btn btn-primary">
        Submit the gel picture
      </button>
    <% end %><!-- form -->

  </div><!-- .col-sm-12 -->
</div><!-- .row -->
